CONTAINER_NAME=debian13-xfce-cursor

RDP_USER=user
RDP_PASS=password

RDP_PORT=23389
SHM_SIZE=1g
TZ=Etc/UTC

HOST_PROJECTS_DIR=/home/evp/projects/panov-id/rdp-cursor-code/projects
CONTAINER_PROJECTS_DIR=/home/user/projects